.bigblue {
    color: rgb(2, 12, 22);
    padding: 10px;
    font-family:  'Courier New', Courier, monospace, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    text-align: left;
  }